<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button block (click)="takePicture()">Take Picture</button>

  <img *ngIf="image" [src]="image" alt="">

  <!-- <ion-card-content class="card-background-page">
    <ion-card class="movie-card" *ngFor="let movie of movies" (click)="goToDetails(movie.id)">
      <div class="img-container">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
      </div>
      <ion-card-content>
        <ion-card-title>
          {{ movie.title }}
        </ion-card-title>
        <p>
          {{ movie.overview }}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-card-content> -->

  <movie-card *ngFor="let movie of movies" [movie]="movie"></movie-card>

</ion-content>
